streamlit
sympy
numpy
pillow
sentence-transformers
transformers
chromadb==0.4.24
python-multipart
tqdm
scikit-learn
huggingface-hub
langgraph
google-genai
pydantic==1.10.13
torch --index-url https://download.pytorch.org/whl/cpu