streamlit
sympy
numpy
pillow
sentence-transformers
transformers
chromadb
openai-whisper
python-multipart
tqdm
scikit-learn
huggingface-hub
langgraph
google-genai
torch --index-url https://download.pytorch.org/whl/cpu
